@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* ok */
    --background: 0 0% 100%;
    --foreground: 240, 6%, 25%, 1;

    --foreground-2: 240, 6%, 25%, 0.75;

    --muted: 240 6% 97%;
    --muted-foreground: 240, 6%, 25%, 1;

    /* ok */
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 25%;

    /* ok */
    --card: 0 0% 100%;
    --card-foreground: 240 6% 25%;

    /* ok */
    --border: 240 6% 97%;

    /* ok */
    --input: 214.3 31.8% 91.4%;

    /* ok */
    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 100%;

    --primary-border: 156 72% 67%;

    --primary-hover: 161 94% 30%;
    --primary-active: 163 94% 24%;

    /* ok */
    --secondary: 240 6% 97%;
    --secondary-foreground: 0 0% 0%;

    --secondary-border: 240 3% 81%;

    --secondary-hover: 240, 4%, 89%, 1;
    --secondary-active: 240, 3%, 85%, 1;

    /* ok */
    --accent: 240 6% 97%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* ok */
    --ring: 160 84% 39%;

    --radius: 0.5rem;
  }

  .dark {
    /* ok */
    --background: 240 3% 12%;
    --foreground: 60, 100%, 98%, 0.86;

    --foreground-2: 240, 33%, 94%, 0.6;

    --muted: 240 5% 20%;
    --muted-foreground: 240, 33%, 94%, 0.6; /*  */

    /* ok */
    --popover: 240 3% 12%;
    --popover-foreground: 0 0% 100%;

    /* ok */
    --card: 240 3% 12%;
    --card-foreground: 0 0% 100%;

    /* ok */
    --border: 240 5% 20%;

    /* ok */
    --input: 240 5% 20%;

    /* ok */
    --primary: 160 84% 39%;
    --primary-foreground: 0 0% 100%;

    --primary-border: 156 72% 67%;

    --primary-hover: 161 94% 30%;
    --primary-active: 163 94% 24%;

    /* ok */
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 100%;

    --secondary-border: 240 3% 50%;

    --secondary-hover: 240, 4%, 18%, 1;
    --secondary-active: 240, 5%, 15%, 1;

    /* ok */
    --accent: 240 5% 20%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    /* ok */
    --ring: 160 84% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    -webkit-tap-highlight-color: transparent;
  }
}
